name: Practice workflow
on: push
jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
          - name: Checkout repository
            uses: actions/checkout@v3
          - name: Install dependencies
            run: npm ci 
          - name: Run Lint
            run: npm run lint
    test:
      runs-on: ubuntu-latest
      steps:
          - name: Checkout repository
            uses: actions/checkout@v3
          - name: Install dependencies
            run: npm ci 
          - name: Run Test
            run: npm run test

    deploy:  
        runs-on: ubuntu-latest
        steps: 
           - name: Checkout repository
             uses: actions/checkout@v3
           - name: Install dependencies
             run: npm ci
           - name: Build Project
             run: npm run build
    info:
        runs-on: ubuntu-latest
        needs: test
        steps:
           - name: Output Job Information
             run: |
                 echo "Job Name: ${{ github.job }}"
                 echo "Workflow Name: ${{ github.workflow }}"
                 echo "Repository: ${{ github.repository }}"
                 echo "Event Name: ${{ github.event_name }}"
                 echo "SHA: ${{ github.sha }}"
                 echo "Ref: ${{ github.ref }}"
                 echo "Actor: ${{ github.actor }}"           
            
